@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
* {
  outline: none !important;
}

.window-resizing *,
body:not(.page-loaded) * {
  transition: none !important;
}

a {
  transition: all 0.3s;
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: subpixel-antialiased;
}

.wrapper {
  min-height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #999;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  padding: 0 0 0px;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
  padding: 0 0 0px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option:not(:checked) {
  color: black;
}

.login-container {
  position: relative;
  background-image: url("/images/login-banner.jpg");
  /* height: 100vh; */
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
  padding-right: 181px;
  /* padding-left: 938px; */
  width: 1560px;
  height: 948px;
}
.login-form {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  /* margin-top:  186px; */
  width: 441px;
  height: 575px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 52px 47px;
  margin-right: 181px;
  right: 0px;
}
.login-form img {
  width: 245px;
  height: 78px;
}
.form-floating {
  border-bottom: 1px solid #cccccc;
}

.form-control {
    background: transparent;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}
/* .form-floating .form-control{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
  }*/
  .form-control:focus{
    background-color: transparent;
  } 

.login-form-control .login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 30px;
}
