@charset "utf-8";

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; height: 100vh; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Roboto', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 { font-size: 40px; font-weight:700; color: #FFFFFF; line-height: 46px;}
h2 { font-size: 30px; font-weight: 500; color: #000000; line-height: 34px;}
h3 { font-weight: 300; font-size: 22px; line-height: 24px; color: #FFFFFF;}
h4 { font-weight: 400; font-size: 18px; line-height: 24px; color: #000000;}
h5 { }
h6 { }
p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #fff; }
::-moz-placeholder { color: #FFFFFF; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #FFFFFF; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

/* Login Page
------------------------------------------------------------------------------------------------------- */

.login-container { background-image: url('/vr-theme-1/images/login-banner.jpg'); background-size: cover; background-repeat: no-repeat; min-height: 100%; min-width: fit-content; background-position: center; padding-right: 181px;}
.login-group { position: relative; }
.login-form { z-index: 1; color: #FFFFFF;background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(12.5px); border-radius: 20px; min-width: 441px;  padding: 52px 47px; }
.login-form img { width: 245px; height: 78px; margin-bottom: 30px;}
.form-floating { border-bottom: 1px solid #cccccc; width: 100%; color: #cccccc;}
.form-floating>label { padding: 0px; border: none; padding: 1rem 0rem;}
.form-floating>.form-control { padding: 0px;}
.form-control { background: transparent; background-color: transparent; border: none; color: #CCCCCC; font-size: 15px; line-height: 24px;}
.form-control:focus{ background-color: transparent; box-shadow: none; color: #CCCCCC;} 
.login-button { min-width: 100px; display: flex; justify-content: space-between; align-items: center; padding-bottom: 26px; padding-top: 49px; }

.login-form p{ color: #FFFFFF; font-size: 15px; font-weight: 400;}
.login-form p>a{ color: #10D7FF; font-weight: 500;}
.link-forgot { color: #FFFFFF; font-size: 13px; line-height: 24px; font-weight: 400; }
.upper-bitcoin { position: absolute; z-index: 0; right: -138px; top: -64px;}
.lower-bitcoin { position: absolute; z-index: 2; left: -91px; top: 523px;}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) { font-size: 15px; line-height: 20px; }
.form-floating>.form-control, .form-floating>.form-select { height: 48px; line-height: 20px; }
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label { opacity: .65; transform: scale(0.85) translateY(-1rem) translateX(0rem); }
.btn-login:hover{ color: #FFFFFF; background-color: #0daccc; border: none; box-shadow: none;}


/* Header
--------------------------------------------------------------------------------------------------------*/
.header { height: 106px; background-color:  #02265A;  z-index: 1; padding: 30px;}
button { background: transparent; border: none; }
.dropdown-toggle::after { content: none; }
.dropdown-toggle>span { color: #FFFFFF; margin-left: 15px;}
.menu-btn { margin-left: 72px;}
.search-btn{ margin-left: 60px;}
.search-input{ color: #FFFFFF;}
.down-arrow { margin-left: 8px;}
.profile-dropdown { margin-left: 36px;}
.notify { margin-left: 30px;}
.btn-login-buy{ border-radius: 50px; color: #FFFFFF; background: #10D7FF; min-width: 142px; height: 48px; font-size: 18px; line-height: 24px; align-items: center; padding: 12.5px;}

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar ,.offcanvas ,.main-container { background-color: #02265A;}
.nav-link > .nav-description{ color: #FFFFFF; font-weight: 500; font-size: 16px; line-height: 24px; margin-left: 25px;}
.sidebar { width: 260px; height: 100%; padding-left: 17px; padding-right: 30px; transition: all 0.2s ease;z-index: 0;visibility: visible;overflow-y: auto;}
body.toggle-sidebar {overflow: hidden;}
.sidebar-open .main-content {flex-basis: calc(90%);max-width: calc(95%);flex-grow: 1;}
.sidebar-open .sidebar {flex-shrink: 1;margin-left: -260px;transition: all 0.2s ease;}
.main-container{padding-right: 30px;}
.nav-description-active{ color: #FFFFFF; font-weight: 500; font-size: 16px; line-height: 24px; margin-left: 12px;}
.nav-link{ width: 213px; padding: 0px;}
.nav-link-active{ width: 213px; padding: 0px;background-color: rgba(255, 255, 255, 0.1);; border-radius: 50px; height: 42px;}
.nav-link:hover{ background-color: rgba(255, 255, 255, 0.1);; border-radius: 50px; height: 42px;}
.nav-img-span{ background-color: #0daccc; width: 42px; height: 42px; border-radius: 50%; padding-top: 11px; padding-left: 11px; }
.nav-link:hover > .nav-img{ display: block;}
.nav-link-box{width: 171px;}
.nav-item{  height: 42px;}
.nav-img{ margin-left: 13px;}
.sidebar .active .nav-link-box >.nav-img-span{ display: block;}
.sidebar .active .nav-link-box>.nav-description{ margin-left: 11px;}
.sidebar .active >.nav-link-box{background-color: rgba(255, 255, 255, 0.1);; border-radius: 50px;}

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.main-content{ background-color: #F3F8FF; border-radius: 20px; flex-grow: 0; flex-shrink: 0; flex-basis: calc(100% - 280px); max-width: calc(100% - 280px); padding: 35px ;margin-bottom: 38px;  z-index: 1;transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);}
.dashboard-stats{ background-color: #FFFFFF; color: #000000; border-radius: 20px ; padding: 28px; box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08); height: 100%;}
.stat-name{ font-size: 18px; line-height: 24px; font-weight: 400; margin-bottom: 24px;}
.numbers{font-size: 24px; line-height: 24px; font-weight: 500; }
.stat-last-row{ margin-top: 32.5px;}
.positive{color: #00A368 ; background: #ECFFF8; border-radius: 3px; height: 22px; padding: 0px 10px;}
.negative{color: #FF0505; background: #FFEEEE; border-radius: 3px; height: 22px; padding: 0px 10px;}
.differ{font-size: 13px; line-height: 24px; font-weight: 400; width: fit-content; }
.interval{font-size: 13px; line-height: 24px; font-weight: 300;}
.dash-img{max-width: 98px; max-height: 98px;}
.dash-row{}
.stat-right{padding: 40px 0px; height: 178px;}

/* Overview
---------------------------------------------------------------------------------------------------------*/
.overview{ background-color: #FFFFFF; color: #000000; border-radius: 20px ; padding: 28px; box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);}
.watchlist{ background-color: #02265A; color:  #FFFFFF;; border-radius: 20px ; padding: 28px; box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.04);}
.second-row{ margin-top: 30px;}
.overview-title,.watchlist-title{ display: flex;justify-content: space-between;align-items: center;}
.overview .legend {display: flex;}
.legend .btn {font-size: 12px;line-height: 24px;color: #000;font-weight: 400;padding: 0px 0px 6px;margin: 0px 12px 6px;}
.legend .btn-check:focus+.btn,.btn:focus {box-shadow: none;}
.overview .legend .active,.overview .legend .btn:hover.active {color: #10D7FF;;border-bottom: 1px solid #10D7FF;;border-radius: 0;}
.overview .legend .btn:hover {color: #3E3E3E;}

/* Watchlist
--------------------------------------------------------------------------------------------------------- */
.watchlist-title h4{color: #FFFFFF;;}
.watchlist-title .legend .btn{ color: #10D7FF;}
.watch-items{ border-bottom: 1px solid rgba(255, 255, 255, 0.2);margin-top: 20px;}
.watch-items:last-child{border: none;}
.coin-name{font-weight: 400;font-size: 16px;line-height: 24px; color: #FFFFFF; }
.coin-value{font-weight: 400;font-size: 16px;line-height: 24px; color: #00D588;}
.coin-short{font-weight: 300;font-size: 13px;line-height: 24px; color: rgba(255, 255, 255, 0.7);}
.coin-diff{font-weight: 400;font-size: 16px;line-height: 24px; color: #00D588;}
.watch-items-top{ height: 24px;}
.watch-items-down{ height: 24px;}
.watchlist{max-height: 407px;}

/* Transaction
---------------------------------------------------------------------------------------------------------- */
.transaction-title{display: flex;justify-content: space-between;align-items: center;}
.transaction-table{margin-top: 30px; background-color: #FFFFFF; color: #000000; border-radius: 20px ; padding: 30px 30px 50px 30px; box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);}
.transaction-title a{color: #10D7FF;}
.transaction-table tr{ font-weight: 400; font-size: 14px; line-height: 24px;border-top: 1px solid #E9E9E9;}
.table> :not(:first-child) {border-top: 0;}
.transaction-table tr:first-child{ border-top: 0;}
.transaction-table .c{color: #00D588;}
.transaction-table .f{color: #FF4141;}
.transaction-table th{ font-weight: 400; font-size: 15px; line-height: 24px; letter-spacing: 0.1em; font-variant: small-caps; color: #A9A9A9;}
.table{margin-bottom: 0px;border: 1px solid #E9E9E9;}


/* Innerpage
----------------------------------------------------------------------------------------------------------- */
.inner-page-form{background-color: #ffffff;padding: 0px 30px 30px;border-radius: 5px;}
.inner-page-form .form-floating{margin-bottom: 20px;}
.inner-page-form .form-floating>.form-control, .inner-page-form .form-floating>.form-control:focus,.inner-page-form .form-floating>.form-control:not(:placeholder-shown){padding: 14px 16px; font-size: 15px; line-height: 20px;font-weight: 400;margin-top: 0px;}
.inner-page-form .form-floating>label{padding: 14px 15px;font-size: 15px; line-height: 20px;font-weight: 400;height: 16px;color: #ADADAD;}
.custom-dropdown>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{top: 0px;background: transparent;color: #ADADAD;}
.inner-page-form h3{padding: 25px 0 15px;font-size: 22px;font-weight: 500;color: #3E3E3E;line-height: 26px;}
.form-floating>.form-control, .form-floating>.form-select{height: auto;}
.inner-page-form .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{opacity: 1;padding: 0px 5px;margin:0 10px;background-color: #ffffff;left: 2px;transition: all 0.2s ease;height: 18px;color: #ADADAD;}
.inner-page-form .form-floating>.form-select{padding: 14px;}
.inner-page-form .form-select{font-size: 15px;line-height: 20px;color: #3E3E3E;}
.inner-page-form .form-select:focus{border-color:#C8242F;box-shadow: none;}
.inner-page-form textarea.form-control, .form-floating>textarea.form-control:focus, .form-floating>textarea.form-control:not(:placeholder-shown){height: 130px;}
.inner-page-form .form-floating>.password, .inner-page-form .form-floating>.password:focus, .form-floating>.password:not(:placeholder-shown){padding: 14px 50px 14px 16px;}
.inner-page-form .form-control:disabled{border-color: #DBDBDB!important;border-style: dashed;background-color: #ffffff;font-size: 15px; color:#ADADAD ;opacity: 0.7;}
.inner-page-form .form-control:disabled:focus, .inner-page-form .form-control:disabled:active{border-color:#DBDBDB!important ;}
.inner-page-form .form-control.is-invalid, .was-validated .form-control:invalid{border-color: #FF3C3C;background-image: none;}
.inner-page-form .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{box-shadow: none;}
.inner-page-form .form-floating>.is-invalid:focus~label, .form-floating>.is-invalid:not(:placeholder-shown)~label{opacity: 1;padding: 0px 5px;margin:0 10px;background-color: #ffffff;left: 2px;transition: all 0.2s ease;color: #FF3B3B;font-size: 12px;line-height: 14px;}
.inner-page-form .invalid-feedback{font-size: 12px;line-height:14px ;margin-top:11px ;color: #FF3B3B;margin-left: 16px;}
.inner-page-form .hint{font-size: 12px;line-height:14px ;margin-top:11px ;color: #ADADAD;margin-left: 16px;display: block;}
.inner-page-form h2{padding: 10px 0px 16px;font-size: 18px;line-height: 22px;font-weight: 500;}
.file-upload{position: relative;}
.file-content span{color: #ADADAD;padding-left: 20px;font-size: 15px;line-height: 20px;}
.inner-page-form .file-upload .file-content{position: relative; z-index: 0;display: flex;align-items: center;margin-bottom: 28px;}
.input-group>.form-control, .input-group>.form-select{position: absolute;width: 35%;}
.file-upload .form-control{border: none;position: absolute;top: 0px;left: 0;z-index: 1;opacity: 0;}
.file-upload .btn-outline-primary{background-color: #fff;border-color: #C8242F;color: #C8242F;padding: 8px 26px;font-size: 15px;line-height: 18px;border-radius: 50px;}
.file-upload .btn-outline-primary img{vertical-align: middle;margin-right: 6px;width: 20px; height: 20px;}
.inner-page-form .form-check-input:checked{background-color: #C8242F;border-color: #C8242F;}
.form-check-input:focus{box-shadow: none;border-color: #C8242F;}
.form-check, .form-check-input, .form-check-label{cursor: pointer;}
.inner-page-form .form-check{margin-bottom: 25px;}
.inner-page-form .form-check-input{width: 16px; height: 16px; margin-top: 3px;}
.inner-page-form .custom-checkbox{background: url("../images/check-tick.svg") no-repeat center;background-size: 16px 16px;}
.form-check-input:checked[type=checkbox]{background-image: url("../images/check-tick-active.svg");}
.form-title{margin-top: 20px;}
.inner-page-form .button-list{display: flex;align-items:center ;margin-bottom: 40px;}
.btn-primary{background-color: #C8242F;color: #ffffff;padding: 11px 30px;font-size: 18px;line-height: 21px;font-weight: 500;transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);border: 1px solid #C8242F;border-radius: 50px;margin-right: 20px;}
.btn-outline-primary{background-color: #fff;border-color: #C8242F;color: #C8242F;padding: 11px 30px;font-size: 18px;line-height: 22px;border-radius: 50px;}
.btn-primary:hover,.btn-primary:focus{background-color: #8c1921;border-color: #eb1e2b;box-shadow: none;}
.btn-outline-primary:hover,.btn-outline-primary:focus{background-color: #FFF3F4;border-color: #eb1e2b;box-shadow: none;color: #ce3a44;}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus{box-shadow: none;}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{box-shadow: none;}
.inner-page-form .alert{display: flex;align-items: center;}
.inner-page-form .alert img{padding-right: 8px;}
.inner-page-form .alert-danger{background-color: #fff;color: #FF3535;font-size: 15px;line-height: 18px;padding: 11px 19px;border-color: #FF3535;border-radius:5px ;}
.inner-page-form .alert-warning{background-color: #fff;color: #FFA800;font-size: 15px;line-height: 18px;padding: 11px 19px;border-color: #FFA800;border-radius:5px ;}
.inner-page-form .alert-primary{background-color: #fff;color: #00B9E1;font-size: 15px;line-height: 18px;padding: 11px 19px;border-color: #00B9E1;border-radius:5px ;}
.inner-page-form .alert-success{background-color: #fff;color: #00AF27;font-size: 15px;line-height: 18px;padding: 11px 19px;border-color: #00AF27;border-radius:5px ;}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border-color: transparent;color: #505050;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border-bottom: 3px solid #C8242F;color: #C8242F;font-weight: 500;}
.nav-link{color: #ADADAD;font-size: 15px;line-height: 18px;padding: 14px 18px;}
.nav-tabs{border-bottom: 1px solid #ADADAD;}
.tab-content{margin-top: 25px;}
.tab-pane{font-size: 15px;line-height: 24px;color: #3E3E3E;}




/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) {}
@media (max-width:1199px) { 
    .login-form { background: rgba(0, 0, 0, 0.3);max-height: 100%; backdrop-filter: blur(12.5px); justify-self: center; }
    .dashboard-stats{ padding: 15px; }
    .stat-right{padding-bottom: 0px;}
    .stat-name{ font-size: 16px; line-height: 20px;  margin-bottom: 20px;}
    .numbers{font-size: 18px; line-height: 22px;  }
    .stat-last-row{ margin-top: 27.5px;}
}
@media (max-width:991px) { 
    .login-form { justify-self: center;}
    .main-content { margin-right: 0px;}
    .main-container{padding-right: 0px;}
    .sidebar .nav-list{padding-top: 20px;}
    .sidebar {top: 0;position: fixed;margin-left: -1200px;z-index: 30;left: 0;}
    .overlay {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
    .sidebar-open .overlay { visibility: visible;opacity: 1;}
    .sidebar-open .sidebar {margin-left: 0;display: block;}
    body.sidebar-open {overflow: hidden;}
    .main-content {max-width: 90%;flex-basis: 90%;flex-grow: 0;}
    .sidebar-open .main-content {flex-basis: calc(90%);max-width: calc(90%);flex-grow: 1;}
}
@media (max-width:876px) {
    .search-input{display: none;}
    .btn-login-buy{ margin-left: auto; min-width: 120px}
    .search-btn{ margin-left: auto}
    .notify{margin-left: auto;}
}
@media (max-width:767px) { 
    .login-container { padding: 40px 30px; }
    h1 { font-size:30px; font-weight:600; color: #FFFFFF; line-height: 40px;}
    h3 { font-weight: 300; font-size: 20px; line-height: 22px;}
    .login-form p { font-size: 13px;}
    .upper-bitcoin { right: 0px; }
    .lower-bitcoin { left: -45px; top: 520px; }
    .menu-btn { margin-left: auto;}
    .profile-dropdown { margin-left: auto;}
}
@media (max-width:575px){ 
    h1 {  font-weight:500; }
    .login-form { padding: 40px 30px; width: 90%;}
    .btn-login { border-radius: 50px; color: #FFFFFF; background: #10D7FF; width: 130px; height: 45px; font-size: 16px; line-height: 20px; align-items: center; padding: 12.5px;}
    .lower-bitcoin { left: -45px; top: 470px; }
    .dropdown-toggle>span { display: none;}
    .header {  padding: 10px;}
    .btn-login-buy{ font-size: 16px; padding: 12.5px 5px;}
    h4 { font-weight: 400; font-size: 16px; line-height: 20px;}
    .legend .btn {font-size: 12px;line-height: 18px;font-weight: 300;padding: 0px 0px 3px;margin: 0px 6px 6px;}
    .transaction-title a{font-size: 12px;line-height: 18px;font-weight: 300;}
}
